/* Buttons */
.btn {
  color: black;
}
.btn-primary{
  margin-left: 10px;
}
/* Table */
.quantity {
  font-weight: bold;
}
.table td,
.table th {
  white-space: nowrap;
}
.table thead th {
  width: 30%;
}
.bg-grey {
  background-color: rgb(199, 198, 198);
  padding: 10px;
}
.item {
  margin-right: 10px;
}
h2 {
  display: inline-flex;
}